html {
  min-width: 395px;
}

* {
  box-sizing: border-box;
}

:root {
  --element-width: 6rem;
}

body {
  font-family: sans-serif;
  margin: 20px;
  /* padding: 0; */
  background: rgb(71, 87, 110);
  
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
}

.square {
  color: rgb(0, 0, 0);
  background: #fff;
  border: 3px solid #6e6e6e;
  float: left;
  font-size: 2.75rem;
  font-weight: bold;
  line-height: var(--element-width);
  height: var(--element-width);
  margin-right: -3px;
  margin-top: -3px;
  padding: 0;
  text-align: center;
  width: var(--element-width);
  cursor: pointer;
}



.game-board-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 900;
}
.game {
  background: rgb(119, 162, 175);
  width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 7px;
  margin-top: 8rem;
}

.game-info, ol{
  padding: 0 1rem;
}

.game-info, ol, li{
  padding: 0 1rem;
  margin: .25rem 0;
}

.history-button {
  border: none;
  background: rgb(55, 55, 87);
  color: white;
  font-family: 'Poppins';
  border-radius: 5px;
  font-size: 1rem;
  padding: .25rem .5rem;
}

.history-button:hover {
  cursor: pointer;
  background: rgb(108, 70, 121);
  color: rgb(255, 255, 255);
}

.dark {
  color: #574ea1;
}

.light {
  color: rgb(190, 85, 85);
}

.reset-btn {
  font-family: 'Poppins';
  margin: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: .25rem;
  background: rgb(219, 61, 61);
  color: white;
  cursor: pointer;
}

.reset-btn:hover{
  background: rgb(155, 49, 49);
}
